/* You can delete / re-write this img class  */

:root {
  --dark-side-primary: rgb(207, 26, 33);
  --dark-side-background: rgb(0, 0, 0);
  --dark-side-font: rgb(255, 255, 255);
  --light-side-primary: rgb(1, 159, 224);
  --light-side-background: rgb(128, 128, 128);
  --light-side-font: rgb(0, 0, 0);
  --star-wars-title: rgb(250, 220, 8);
  --card-border: rgb(255, 255, 255);
  --steel: rgb(113, 121, 126);
}

body {
  background-image: url("./images/star-field.jpg");
}

.container {
  display: flex;
  margin: 2em 4em;
  padding: 20px;
  font-size: 30px;
  flex-direction: column;
  gap: 2em;
}
.page-title {
  font-weight: 900;
  font-size: 4rem;
  text-transform: uppercase;
  text-align: center;
  color: var(--star-wars-title);
  margin: 1rem;
}

.card {
  border: 10px solid var(--card-border);
  border-radius: 10px;
  min-width: 18em;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card-title {
  text-align: center;
  text-transform: uppercase;
}
.dark-card {
  color: var(--dark-side-font);
  background-color: var(--dark-side-background);
  box-shadow: 0px 0px 16px 17px var(--dark-side-primary);
}

.light-card {
  background-color: var(--light-side-background);
  box-shadow: 0px 0px 16px 17px var(--light-side-primary);
}

.dark-card--p {
  border-image: linear-gradient(
      to bottom,
      var(--dark-side-font),
      var(--dark-side-primary)
    )
    0 1;

  border-style: solid;
  border-top-width: 3px;
  text-transform: uppercase;
  padding-left: 1em;
}

.light-card--p {
  border-image: linear-gradient(
      to bottom,
      var(--card-border),
      var(--light-side-primary)
    )
    0 1;
  border-style: solid;
  border-top-width: 3px;
  text-transform: uppercase;
  max-width: 15em;
  padding-left: 1em;
}

img {
  max-width: 16em;
}

@media screen and (min-width: 1178px) {
  .container {
    flex-direction: row;
    justify-content: space-around;
  }
}
